.btn{
	font-size: 20pt;
	width:80px;
	height:40px;
	border:3px;
	color:#00008B;
	background-color: #00BFFF;
}
.btn-2{
	font-size: 20pt;
	width:80px;
	height:40px;
	border:3px;
	color:#F5FFFA;
	background-color: #00008B;

}
#message{
	
	font-size: 25pt;
	border:3px black;
	color: #000080;
	background-color:#87CEFA;
}
